name: Build and Publish Add-on

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        addon: ["ebusd"]
        arch: ["aarch64", "amd64", "armhf", "armv7", "i386"]

    steps:
      - name: ⤵️ Check out code from GitHub
        uses: actions/checkout@v4.1.2

      - name: Get information
        id: info
        uses: home-assistant/actions/helpers/info@master
        with:
          path: ./${{ matrix.addon }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ matrix.arch }} add-on
        if: contains(steps.info.outputs.architectures, matrix.arch)
        uses: home-assistant/builder@2024.03.5
        with:
          args: |
            --${{ matrix.arch }} \
            --target ${{matrix.addon}} \
            --image "ha-addon-ebusd-${{ matrix.arch }}" \
            --docker-hub "ghcr.io/${{ github.repository_owner }}"
